
    <div>
            <strong><span><th:block th:text="#{direccionIP}"/> </span></strong> <span><code th:text="${direccionIp}"></code> </span>
            <strong><span><th:block th:text="#{navegador}"/> </span></strong><code th:text="${navegador}"></code>
            <strong><span><th:block th:text="#{sistemaOperativo}"/> </span></strong> <span><code th:text="${SO}"></code> </span>
            <strong><span><th:block th:text="#{motorRenderizado}"/> </span></strong>  <span><code th:text="${renderizado}"></code> </span>
            <strong><span><th:block th:text="#{nombreHost}"/> </span></strong> <span><code th:text="${hostSolicitado}"></code> </span>
            <strong><span><th:block th:text="#{idioma}"/> </span></strong> <span><code th:text="${localePrincipal}"></code></span>
    </div>

