
<!--    Interacciones-->
    <div>
        <th:block th:text="#{eco-parametros.interacciones}"/>
        <th:block th:text="${interaccion}"/>
    </div>

<br/>

<!--Selecciona el Idioma-->
    <span th:text="#{lang.change}"></span>
    <label for="idioma"></label>
    <select id="idioma" name="idioma">
        <!--<option value="" th:text="#{lang.change}"></option>-->
        <option value="es" th:text="#{lang.es}"></option>
        <option value="en" th:text="#{lang.eng}"></option>
    </select>

<!--Título-->
    <h1><b>
        <th:block th:if="${Original}" th:text="#{titulo.Original}" />
        <th:block th:if="${Repintado}" th:text="#{titulo.Repintado}" />
    </b></h1>

<!--Mensaje Formulario Validado-->
    <h2 class="correcto" th:if="${mensajeOK}" th:text="#{Validadcion.Error.OK}"></h2>
    <h2 class="error" th:if="${mensajeNOK}" th:text="#{Validadcion.Error.NOK}"></h2>



<!--Comienza el Formulario-->
    <form th:action="@{recibeParametrosYRepinta}" method="post" th:object="${datosFormulario}" id="formulario" >

        <!-- Mostrar errores globales y validadciones que afectan a dos campos-->
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
        </div>

        <fieldset>
            <legend th:text="#{Datos-Personales.legend}"></legend>

            <input type="hidden" name="interacciones" value="1">
            <!--Usuario-->
            <div>
                <span style="color:red">&#42;</span><label for="nombre" th:text="#{Datos-Personales.usuario}"></label>
                <input type="text"
                       id="nombre"
                       th:field="*{nombre}"
                       th:placeholder="#{Placeholder.usuario}"
                tabindex="1"/>
                <ul>
                    <li th:each="err : ${#fields.errors('nombre')}" th:text="${err}" class="error"></li>
                </ul>
            </div>
            <!--Clave-->
            <div>
                <span style="color:red">&#42;</span><label for="clave" th:text="#{Datos-Personales.clave}"></label>
                <input type="password"
                       th:field="*{clave}"
                       id="clave"
                       th:placeholder="#{Placeholder.clave}"
                       tabindex="2"/>
                <ul>
                    <li th:each="err : ${#fields.errors('clave')}" th:text="${err}" class="error"></li>
                </ul>
            </div>
            <!--Confirmar Clave-->
            <div>
                <span style="color:red">&#42;</span><label for="confirmarClave" th:text="#{Datos-Personales.confirmarClave}"></label>
                <input type="password"
                       th:field="*{confirmarClave}"
                       id="confirmarClave"
                       th:placeholder="#{Placeholder.confirmarClave}"
                       tabindex="3"/>
                <ul>
                    <li th:each="err : ${#fields.errors('confirmarClave')}" th:text="${err}" class="error"></li>
                </ul>
            </div>

            <!--boton desvelar contraseñas-->
            <input type="button"
                   id="verClaves"
                   th:value="#{Boton.verClaves}"
                   onclick="verContrasenia();"
                   tabindex="4">
            <br/>

            <!--Géneros-->
            <p><span style="color:red;">&#42;</span><span th:text="#{Datos-Personales.genero}"></span></p>
            <label for="generoSeleccionado"></label>
            <div th:each="genero : ${lista_generos}">
                <input
                        type="radio"
                        th:field="*{generoSeleccionado}"
                        th:value="${genero.key}"
                        id="generoSeleccionado"
                        tabindex="5">
                <label th:for="'genero_' + ${genero.key}" th:text="${genero.value}"></label>
            </div>
                <ul>
                    <li th:each="err : ${#fields.errors('generoSeleccionado')}" th:text="${err}" class="error"></li>
                </ul>
            <!--boton ver deseleccionar Radio Géneros-->
            <input type="button"
                   id="deseleccionarRadios"
                   th:value="#{Boton.deseleccionarGenero}"
                   onclick="deseleccionarGenero('generoSeleccionado');"
                   tabindex="6">

            <br/>
            <br/>

            <!--/* Paises */-->
            <div>
                <span style="color:red; ">&#42;</span><label for="pais_seleccionado" th:text="#{Datos-Personales.pais}"></label>
                <select th:field="*{paisSeleccionado}" id="pais_seleccionado">
                    <option th:each="p : ${lista_paises}"
                            th:value="${p.key}"
                            th:text="${p.value.pais}"
                            tabindex="7">
                            <!--He intentado acceder alas imágenes para mostrar las banderas,
                            pero no he tenido éxito-->
                            <!--th:style="'background-image: url(' + @{/img/} + ${p.value.nombreArchivoBandera} + ')no-repeat; height:100px; width:150px; background-size: contain;  '"-->
                    </option>
                </select>
                <ul>
                    <li th:each="err : ${#fields.errors('paisSeleccionado')}" th:text="${err}" class="error"></li>
                </ul>
            </div>
            <br/>
            <br/>

            <!--Fecha Nacimiento-->
            <div>
                <span style="color:red; ">&#42;</span><label for="fechaNacimiento" th:text="#{Datos-Personales.fechaNacimiento}"></label>
                <input type="text"
                       th:field="*{fechaNacimiento}"
                       id="fechaNacimiento"
                       th:placeholder="#{Placeholder.fecNac}"
                       tabindex="8">
            </div>
                <ul>
                    <li th:each="err : ${#fields.errors('fechaNacimiento')}" th:text="${err}" class="error"></li>
                </ul>

            <!--Edad-->
            <div>
                <span style="color:red">&#9654;</span><label for="edad" th:text="#{Datos-Personales.edad}"></label>
                <input type="text"
                       th:field="*{edad}"
                       id="edad"
                       tabindex="9">
            </div>
                <ul>
                    <li th:each="err : ${#fields.errors('edad')}" th:text="${err}" class="error"></li>
                </ul>

            <!--Peso-->
            <div>
                <span style="color:red; ">&#42;</span><label for="peso" th:text="#{Datos-Personales.peso}"></label>
                <input type="text"
                       th:field="*{peso}"
                       id="peso"
                       tabindex="10">
            </div>
                <ul>
                    <li th:each="err : ${#fields.errors('peso')}" th:text="${err}" class="error"></li>
                </ul>
        </fieldset>

        <fieldset>
            <legend th:text="#{Datos-contacto.datosContacto}"></legend>

            <!--Prefijo telefónico-->
            <div>
                <span style="color:red">&#9654;</span><label for="prefijoTelefonico" th:text="#{Datos-contacto.prefijoTelefonico}"></label>
                <select th:field="*{prefijoTelefonico}" id="prefijoTelefonico">
                    <option th:each="p : ${lista_paises}"
                            th:value="${p.key}"
                            th:text="${p.value.prefijoTelefonicoPais}"
                            tabindex="11">
                    </option>
                </select>
                <ul>
                    <li th:each="err : ${#fields.errors('prefijoTelefonico')}" th:text="${err}" class="error"></li>
                </ul>
            </div>

            <!--Telefono-->
            <div>
                <span style="color:red">&#9654;</span><label for="telefono" th:text="#{Datos-contacto.telefono}"></label>
                <input type="text"
                       id="telefono"
                       th:field="*{telefono}"
                       th:placeholder="#{Placeholder.telefono}"
                       tabindex="12"/>
                <ul>
                    <li th:each="err : ${#fields.errors('telefono')}" th:text="${err}" class="error"></li>
                </ul>
            </div>

            <!--Email-->
            <div>
                <span style="color:red">&#9654;</span><label for="email" th:text="#{Datos-contacto.email}"></label>
                <input type="text"
                       id="email"
                       th:field="*{email}"
                       th:placeholder="#{Placeholder.email}"
                       tabindex="13"/>
                <ul>
                    <li th:each="err : ${#fields.errors('email')}" th:text="${err}" class="error"></li>
                </ul>
            </div>

            <!--Url-->
            <div>
                <label for="url" th:text="#{Datos-contacto.url}"></label>
                <input type="text"
                       id="url"
                       th:field="*{url}"
                       th:placeholder="#{Placeholder.url}"
                       tabindex="14"/>
                <ul>
                    <li th:each="err : ${#fields.errors('url')}" th:text="${err}" class="error"></li>
                </ul>
            </div>
        </fieldset>


        <fieldset>
            <legend th:text="#{otros-datos.legend}"></legend>

        <!--/* Aficiones */-->
            <th:block th:text="#{otros-datos.aficiones}"/>
            <div th:each="a : ${lista_aficiones}" >
                <input
                        id="aficion_seleccionada"
                        th:field="*{aficionesSeleccionadas}"
                        type="checkbox"
                        th:value="${a.key}"
                        th:checked="${!#lists.isEmpty(aficionesSeleccionadas)
                         && aficionesSeleccionadas.contains(a.key)}"
                        tabindex="15"/>
                <label for="aficion_seleccionada" th:text="${a.value}">Afición</label>
            </div>
                <ul>
                    <li th:each="err : ${#fields.errors('aficionesSeleccionadas')}" th:text="${err}" class="error"></li>
                </ul>
        <!--Botones Aficiones-->
            <input type="button"
                   th:value="#{Boton.deseleccionarAficiones}"
                   onclick="deseleccionarAficiones()"
                   tabindex="16">
            <input type="button"
                   th:value="#{Boton.seleccionarAficiones}"
                   onclick="seleccionarAficiones()"
                   tabindex="17">

            <br/>
            <br/>

        <!--/* Música */-->
                <label for="musica" th:text="#{otros-datos.musicas}" ></label>
            <div>
                <select multiple="multiple" th:field="*{musicasSeleccionadas}" id="musica">
                    <option value="">Selecciona una Opción</option>
                    <option th:each=" m :${lista_musicas}"
                            th:value="${m.key}"
                            th:text="${m.value}"
                            th:selected="${!#lists.isEmpty(musicasSeleccionadas)
                            && musicasSeleccionadas.contains(m.key)}"
                            tabindex="18"></option>
                </select>
                <ul>
                    <li th:each="err : ${#fields.errors('musicasSeleccionadas')}" th:text="${err}" class="error"></li>
                </ul>
            </div>
        <!--Botones Música-->
            <input type="button"
                   th:value="#{Boton.deseleccionarMusicas}"
                   onclick="deseleccionarMusica()"
                   tabindex="19">
            <input type="button"
                   th:value="#{Boton.seleccionarMusicas}"
                   onclick="seleccionarMusica()"
                   tabindex="19">

            <br/>
            <br/>

            <fieldset>
                <legend><th:block th:text="#{otros-datos.archivo.legend}"/></legend>

        <!-- /* Subir Archivo */ -->
            <div>
                <span style="color:red">&#9654;</span><label for="archivo" th:text="#{otros-datos.archivo}"></label>
                <input type="file"
                       multiple
                       th:field="*{archivos}"
                       th:value="${archivos}"
                       id="archivo"
                       accept=".jpg, .jpeg, .gif, .pdf"
                       tabindex="20">
            </div>
                <ul>
                    <li th:each="err : ${#fields.errors('archivos')}" th:text="${err}" class="error"></li>
                </ul>
            </fieldset>
         <!--Muestra el nombre del archivo subido-->
         <div>
             <th:block th:if="${archivo}" th:text="#{otros-datos.nombreArchivo}"/>
             <th:block th:if="${archivo}" th:text="${archivo}"/>
         </div>

            <br/>

        <!--/* Comentario */-->
                <label for="comentario" th:text="#{otros-datos.comentario}"></label>
            <div>
                <textarea
                        th:field="*{comentarios}"
                        id="comentario"
                        cols="30"
                        rows="10"
                        th:placeholder="#{Placeholder.comentario}"
                        tabindex="21"></textarea>
            </div>
                <ul>
                    <li th:each="err : ${#fields.errors('comentarios')}" th:text="${err}" class="error"></li>
                </ul>
            <br/>

            <br/>

        <!-- Licencia-->

            <fieldset>
                <legend><th:block th:text="#{otros-datos.licencia.legend}"/></legend>
                <div>
                    <label for="licencia" th:text="#{otros-datos.licencia}"></label>
                    <input type="checkbox"
                           th:field="*{licencia}"
                           id="licencia"
                           tabindex="22">
                </div>
                    <ul>
                        <li th:each="err : ${#fields.errors('licencia')}" th:text="${err}" class="error"></li>
                    </ul>
            </fieldset>
        </fieldset>

        <br/>

        <fieldset>
        <legend th:text="#{operaciones-Formulario.legend}"></legend>

        <!--Imagen Flecha-->
        <input type="image"
               name="imagen"
               th:src="@{/img/1.jpg}"
               alt="flecha"
               width="100px"
               onclick="confirmarEnvio(formulario)"
               tabindex="23">

        <!-- Mostrar coordenadas después de hacer clic -->
        <div th:text="${coordenadas}"></div>

        <br/>

    <!--Botones enviar, reestablecer y Vaciar Campos-->
        <input type="submit"
               th:value="#{Boton.enviar}"
               onclick="confirmarEnvio(formulario)"
               tabindex="24">
        <input type="reset"
               th:value="#{Boton.resetear}"
               onclick="confirmarReseteo(formulario)"
               tabindex="24">
        <input type="button"
               th:value="#{Boton.vaciar}"
               onclick="vaciarFormulario()"
               tabindex="25">
        </fieldset>
    </form>

<!--Contador de Parámetros-->
    <div>
        <th:block th:text="#{contador.parametros}"/>
        <th:block th:text="${contadorParametros}"/>
    </div>




