.error{
    color:red;
    font-weight: bold;
}

.correcto{
    color: green;
    font-weight: bold;
}

.informacion-cliente{
    font-family: Arial;
    font-size: 1em;
}

.informacion-cliente ul li{
    list-style: none;
    display: inline;
}

span{
    font-size: 1.3em;
}

select#pais_seleccionado option[value="fr"]   { background-image:url(../img/espania.jpg);   }



