<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Práctica Formulario Validaciones</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <!-- Favicon vacío -->
    <link rel="icon" href="data:," />
    <!--Plug-in Select Estilos-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--Plug-in Select Script-->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script th:src="@{/js/funciones.js}"></script>
</head>
<body>
    <div th:replace="~{/fragments/Cabecera.html}"></div>
    <div th:replace="~{/fragments/formulario.html}"></div>
</body>
</html>