<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>contenido</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="icon" href="data:," /> <!-- Favicon vacío -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script th:src="@{/js/funciones.js}"></script>
</head>
<body>
    <div th:replace="~{/fragments/Cabecera.html}"></div>
    <div th:replace="~{/fragments/formulario.html}"></div>
</body>
</html>