<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Práctica Formulario</title>
</head>
<body>
<form action="recibe-parametros" >

    <h3><b>Formulario <th:block th:text="${titulo}" /></b></h3>

    <div> Usuario: <th:block th:text="${usuario}"/> </div>
    <div> Clave: <th:block th:text="${clave}"/> </div>
    <div> genero:: <th:block th:text="${genero}"/> </div>

    <fieldset>
        <label for="usuario" th:text="#{eco-parametros.usuario}"/>
        <input id="usuario" name="usuario" th:value="${usuario}" type="text">

        <br>

        <label for="clave" th:text="#{eco-parametros.clave}"/>
        <input type="password" name="clave" id="clave">

        <input type="hidden" name="interacciones">
    </fieldset>

    <br>
    <!-- Generos -->
    <fieldset>
        <legend th:text="#{eco-parametros.generos}"></legend>
        <label for="genero_seleccionado"></label>
        <input type="radio" name="genero_seleccionado" id="genero_seleccionado"
               th:each="genero: ${lista_generos}"
               th:value="${genero.key}"
               th:text="${genero.value}"
        >
    </fieldset>

    <!--Aficiones-->
    <fieldset>
        <legend th:text="#{eco-parametros.aficiones}"></legend>
        <label for="aficion-seleccionada"></label>
        <input id="aficion-seleccionada" name="aficion-seleccionada"
               type="checkbox"
               th:each="aficion: ${lista_aficiones}"
               th:text="${aficion.value}"
               th:value="${aficion.key}"

        />
        <!--th:checked="${aficionesDefecto.contains(aficion.key)}"-->

    </fieldset>

    <!-- Paises -->
    <!--<fieldset >
        <legend th:="#{eco-parametros.paises}"></legend>
        <label for="pais-seleccionado"></label>
        <select name="pais-seleccionado" id="pais-seleccionado">
            <option th:each="pais:${lista_paises}"
                    th:value="${pais.key}"
                    th:text="${pais.value}"
            >
            </option>
            &lt;!&ndash; th:selected="${pais.key == pais-seleccionado} ? 'selected'">&ndash;&gt;
        </select>
    </fieldset>

    &lt;!&ndash; Música &ndash;&gt;
    <fieldset >
        <legend th:="#{eco-parametros.musica}"></legend>
        <label for="musica-seleccionado"></label>
        <select name="musica-seleccionado" id="musica-seleccionado">
            <option th:each="musica:${lista_musica}"
                    th:value="${musica.key}"
                    th:text="${musica.value}"
            >
            </option>

        </select>
    </fieldset>-->




    <!--    <div> Interacciones:<th:block th:text="${interaccion}"/> </div> -->

    <input type="submit" value="Enviar">
    <input type="reset" value="Resetear">

</form>
</body>
</html>