<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Práctica Formulario</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>



    <div id="interaccion">
        <th:block th:text="#{eco-parametros.interacciones}"/>
        <th:block th:text="${interaccion}"/>
    </div>

    <h1><b>Formulario <th:block th:text="${titulo}" /></b></h1>
    <h3 class="correcto" th:if="${mensajeOk}" th:text="${mensajeOk}"/>
    <h3 class="error" th:if="${mensajeNOK}" th:text="${mensajeNOK}"/>


    <br/>

    <form action="recibeParametrosYRepinta" method="post" th:object="${datosFormulario}" >
<!-- Datos Personales-->
            <fieldset>
                <legend th:text="#{Datos-Personales.DatosPersonales}"></legend>

                <input type="hidden" name="interacciones">
                <div>
                    <label for="usuario" th:text="#{Datos-Personales.usuario}" />
                    <input type="text" id="usuario" th:field="*{usuario}"  />
                    <p th:each="error : ${#fields.errors('usuario')}" th:text="${error}" class="error"/>
                </div>

                <label for="clave" th:text="#{Datos-Personales.clave}" />
                <input type="password" th:field="*{clave}" id="clave" />

                <label for="confirmarClave" th:text="#{Datos-Personales.confirmarClave}" />
                <input type="password" th:field="*{confirmarClave}" id="confirmarClave" />

                <br/>

            <!--Géneros-->
                <fieldset>
                    <legend th:text="#{Datos-Personales.genero}" />
                    <div th:each="genero : ${lista_generos}" >
                        <input
                                type="radio"
                                th:field="*{generoSeleccionado}"
                                th:id="'genero_ '+ ${genero.key}"
                                th:value="${genero.key}"
                        />
<!--                    th:checked="${genero_seleccionado == genero.key}"-->
                        <label th:for="'genero_' + ${genero.key}" th:text="${genero.value}"></label>
                    </div>
                </fieldset>

                <br/>

            <!--/* Paises */-->
                <label for="pais_seleccionado" th:text="#{Datos-Personales.pais}"></label>
                <select th:field="*{paisSeleccionado}" id="pais_seleccionado">
                    <option th:each="p : ${lista_paises}"
                            th:value="${p.key}"
                            th:text="${p.value.pais}"/>
                </select>

                <br />
                <br />

            <!--Fecha Nacimiento-->
                <label for="fechaNacimiento" th:text="#{Datos-Personales.fechaNacimiento}"></label>
                <input type="date" th:field="*{fechaNacimiento}" id="fechaNacimiento">

            <!--Edad    -->
                <label for="edad" th:text="#{Datos-Personales.edad}"></label>
                <input type="number" th:field="*{edad}" id="edad">

             <!--Peso   -->
                <label for="peso" th:text="#{Datos-Personales.peso}"></label>
                <input type="number" th:field="*{peso}" id="peso">

            </fieldset>

    <!--Datos de Contacto        -->

            <fieldset>
                <legend th:text="#{Datos-contacto.datosContacto}"></legend>

                <!--Prefijo-->
                <label for="prefijoTelefonicoPais" th:text="#{Datos-contacto.prefijoTelefonico}" />
                <select th:field="*{prefijoTelefonico}" id="prefijoTelefonicoPais">
                    <option th:each="p : ${lista_paises}"
                            th:value="${p.key}"
                            th:text="${p.value.prefijoTelefonicoPais}"/>
                </select>
                <!--Telefono-->
                <label for="telefono" th:text="#{Datos-contacto.telefono}" />
                <input type="text" id="telefono" th:field="*{telefono}"  />
                <!--Email-->
                <label for="email" th:text="#{Datos-contacto.email}" />
                <input type="text" id="email" th:field="*{email}"  />
                <!--Url-->
                <label for="url" th:text="#{Datos-contacto.url}" />
                <input type="text" id="url" th:field="*{url}"  />
            </fieldset>


    <!--Otros Datos-->
        <!--/* Aficiones */-->
            <fieldset>
                <legend th:text="#{otros-datos.legend}"></legend>

                <label for="aficion_seleccionada" th:text="#{otros-datos.aficiones}"></label>
                <div th:each="a : ${lista_aficiones}">
                    <input  id="aficion_seleccionada"
                            type="checkbox"
                            th:field="*{aficionesSeleccionadas}"
                            th:value="${a.key}"
                            th:text="${a.value}"
                            th:checked="${!#lists.isEmpty(aficionesSeleccionadas) and aficionesSeleccionadas.contains(a.key)}"/>
                    <!--Añadir !#lists.isEmpty(aficionesSeleccionadas) para que la aplicación no falle,
                    si el usuario no selecciona ninguna casilla-->
                </div>

            <br/>

        <!--/* Música */-->
                <label for="musica" th:text="#{otros-datos.musicas}"></label>
                <div>
                    <select multiple="multiple" id="musica" th:field="*{musicasSeleccionadas}" >
                        <option th:each=" m :${lista_musicas}"
                                th:value="${m.key}"
                                th:text="${m.value}"
                                th:selected="${!#lists.isEmpty(musicasSeleccionadas) && musicasSeleccionadas.contains(m.key)}"/>
                    <!--Añadir !#lists.isEmpty(aficionesSeleccionadas) para que la aplicación no falle,
                        si el usuario no selecciona ninguna casilla-->
                    </select>
                </div>

            <br/>

        <!-- /* Subir Archivo */ -->
                <label for="archivo" th:text="#{otros-datos.archivo}"></label>
                <input type="file" th:field="*{archivos}" id="archivo">
        <!-- Muestra el nombre del archivo subido-->
        <!--<div>  <th:block th:text="${archivo}"/> </div>-->

            <br/>
            <br/>

        <!--/* Comentario */-->
                <label for="comentario" th:text="#{otros-datos.comentario}"></label>
                <div>
                    <textarea
                            th:field="*{comentarios}"
                            id="comentario"
                            cols="30"
                            rows="10"
                            th:placeholder="#{otros-datos.comentarioPH}"
                    ></textarea>
                </div>

            <br/>
            <br/>
        <!-- Licencia-->
                <legend th:text="#{otros-datos.terminos}"></legend>
                <label for="licencia" th:text="#{otros-datos.licencia}"></label>
                <input type="checkbox"
                       th:field="*{licencia}"
                       id="licencia"
                       th:checked="${licencia}"
                >
            </fieldset>

            <br/>

        <!--Imagen-->
            <input type="image"
                   name="imagen"
                   th:src="@{/img/1.jpg}"
                   alt="flecha"
                   width="100px">

            <!-- Mostrar coordenadas después de hacer clic -->
            <div th:text="${coordenadas}"/>

            <br/>

        <!--Botones enviar, reestablecer y Vaciar Campos-->
            <input type="submit" value="Enviar">
            <input type="reset" value="Resetear">
            <input type="reset" value="Resetear">
        </form>

</body>
</html>